# Git & IDE
.git
.gitignore
.vscode
.idea

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.coverage
htmlcov
tests/

# Environments
venv/
.venv/
.env
*.env
*secret.yaml
reports/

# Build & Temp
build/
dist/
*.egg-info
test_sandbox/
cloud_temp/
*.log
*.ndjson

# Docker specific
Dockerfile
docker-compose.yml